{% extends "base.html" %}
{% block title %}Add lead{% endblock %}
{% block content %}
  <h2><b>Add Lead form</b></h2>
    <form action="/addlead" method="POST" novalidate>
      {{form.hidden_tag()}}
      {% if form.errors %}
        <ul>
          {% for error in form.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="form-group">
        {{form.firstname.label(for="firstname")}}
        {{form.firstname(id="firstname", class="form-control needs-validation")}} 
        {% if form.firstname.errors %}
          <ul>
            {% for error in form.firstname.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{form.lastname.label(for="lastname")}}
        {{form.lastname(id="lastname", class="form-control needs-validation")}} 
        {% if form.lastname.errors %}
          <ul>
            {% for error in form.lastname.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{form.email.label(for="email")}}
        {{form.email(id="email", class="form-control needs-validation")}} 
        {% if form.email.errors %}
          <ul>
            {% for error in form.email.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{form.mobilephone.label(for="mobilephone")}}
        {{form.mobilephone(id="mobilephone", class="form-control needs-validation")}} 
        {% if form.mobilephone.errors %}
          <ul>
            {% for error in form.mobilephone.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>   
        {% endif %}
      </div>

      {{form.submit(class="btn btn-dark mt-4 btn-primary ")}}      
    </form>
{% endblock %}